header {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	background-color: #404040;
	color: #f0f8ff;
	width: 100%;
	height: 80px;
	top: 0;
	left: 0;
	z-index: 1000;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fffcfa;
	color: #333;
	text-align: justify;
	padding: 80px;
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 4px;
}
.text-logo {
	font-size: 23px;
	letter-spacing: 1px;
}
.text-logo span:hover {
	filter: brightness(1.4);
	transition: 0.3s;
}

.orange {
	color: #ff5e40;
}

.content {
	display: flex;
	justify-content: center;
}
.blog-post {
	max-width: 1300px;
	background-color: #ffffff;
	padding: 40px;
	margin-top: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.blog-post section {
	margin-top: 30px;
}

h2 {
	color: #222;
	font-size: 28px;
	margin-bottom: 0;
}
h3 {
	color: #222;
	font-size: 22px;
	margin-bottom: 15px;
}
p {
	line-height: 1.7;
	margin-bottom: 3px;
}

.section-with-chart {
	display: flex;
	gap: 40px;
	margin-top: 30px;
	align-items: flex-start;
	flex-wrap: wrap;
}
.section-with-chart .text {
	flex: 2;
}
.chart-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	background-color: #ffebdb;
	padding: 20px;
	margin-top: 35px;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}
.subtitle {
	color: #666;
	font-size: 15px;
	margin-bottom: 20px;
}
